body{
    background-color: beige;
    font-size: large;
    margin-left: 40%;
    margin-top: 20%;
    text-transform: uppercase;
    font: 1em sans-serif;
    
}

.form{
     background-color: #8B4513;
     border-radius: 15px;
     width: 300px;
     height: 180px;
    text-align: center;
    padding: 5px;  
    
}
.submit{
    border-radius: 5px;
    border: none;
    background-color: #F5DEB3;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    transition: .5s;
    cursor: pointer;
}

.submit:hover{
    background-color: #bdbdbd;
    color: #ffffff;
    border: 1px solid rgb(255, 97, 197);
}


p{
    font-family: Arial, Helvetica, sans-serif;
}

